@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Roboto&display=swap');

.centered {
    text-align: center;
    font-family: 'Bitter', serif;
}

#submit {
    text-decoration: none;
    width: 50%;
    margin-bottom: 1%;
    font-family: 'Bitter', serif;
    font-size: 20px;
}

#incrementUp {
    background-color: palegreen;
    color: black;
    text-decoration: bold;
    font-size: large;
}

#incrementDown {
    background-color: tomato;
    color: black;
    text-decoration: bold;
    font-size: large;
}

a{
    text-decoration: none;
}

/* #itemStack{
    background-color: blue;
} */