.submitted {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}

#thanks {
    text-align: center;
    width: 65%;
    line-height: 131%;
    margin-top:3em;
    font-size: 5em;
}

.submittedGraphic {
    width: 100%;
    margin-top: 2em;
}

.backHome {
    background-color: #71C3E7;
    font-size: 2.75em;
    font-family: "Bitter";
    padding: .5em 4em .5em 4em;
    border-radius: 1em;
    box-shadow: 0px 20px 18px rgba(128, 128, 128, 0.25);
    margin-top: auto;
}

@media only screen and (device-width: 768px) {
    #thanks {
        margin-top: 1.5em;
        font-size: 4.5em;
    }

    .firstLine {
        /* 0.2 offset, added to secondline */
        margin-top: 0%;
    }
    
    .pencilIcon {
        margin-top: -2em;
    }
    
    .secondLine {
        margin-top: 0.9%;
    }

    .link {
        margin-top: 0em;
        z-index: 3;
    }

    .backHome{
        margin: 0em;
        bottom: 40px;
        z-index: 3;
    }
}

@media only screen and (device-width: 820px) {
        #thanks {
            margin-top: 1.5em;
            font-size: 4.5em;
        }
        
        .firstLine {
            /* 0.2 offset, added to secondline */
            margin-top: 0%;
        }
        
        .pencilIcon {
            margin-top: -2em;
        }
        
        .secondLine {
            margin-top: 0.9%;
        }
        
        .link {
            margin-top: 0em;
            z-index: 3;
        }
        
        .backHome {
            margin: 0em;
            bottom: 40px;
        }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #thanks {
        margin-top: 1.5em;
        font-size: 2.5em;
    }
    
    .firstLine {
        visibility: hidden;
    }
    
    .pencilIcon {
        width: 80%;
        left: 27.5%;
        height: 25em;
        margin-top: -5em;
        z-index: 1;
    }
    
    .secondLine {
        visibility: hidden;
    }

    .backHome {
        margin: 0em;
        position: relative;
        top: 0em;
    }

    .fullPencil {
        height: 22em;
    }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

    #thanks {
        margin-top: 1.5em;
        font-size: 2.5em;
    }
    
    .firstLine {
        visibility: hidden;
    }
    
    .pencilIcon {
        width: 80%;
        left: 27.5%;
        height: 25em;
        margin-top: -5em;
        z-index: 1;
    }
    
    .secondLine {
        visibility: hidden;
    }
    
    .backHome {
        margin: 0em;
        position: relative;
        top: 0em;
    }
    
    .fullPencil {
        height: 22em;
    }
}