@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Roboto&display=swap');

.centered {
    text-align: center;
    font-family: 'Bitter', serif;
}

#thanks {
    margin: 10px;
    font-size: 25px;
    font-family: 'Bitter', serif;
}